head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    title Book Store
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    //Link CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="book-page.css")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    // AJAX
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    script(type="text/javascript").
        //Get the button:

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            var mybutton = document.getElementById("myBtn");
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        $(document).ready(function(){
            // Get productID from URL
            function getUrlVars()
            {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for(var i = 0; i < hashes.length; i++)
                {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }
            $(".addBtn").click(function(){ // Get add to card Btn
                let qty = $("#exampleFormControlSelect1").val();
                let id = getUrlVars().id;
                $.post('/logIn', // Post value to /addToCart by AJAX
                    {
                        Qty: qty,
                        productId: id
                    },)
            });
        })
body
    button(onclick="topFunction()" id="myBtn" title="Go to top")
        i(class="fas fa-arrow-up")
    header.w-100.fixed-top
        .container-fluid
            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand(href='/')
                    img(src="logo.png" alt="Book Store logo")
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/') HOME
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | BOOK
                            .dropdown-menu.book(aria-labelledby='navbarDropdownMenuLink')
                                div.row.navbar-custom
                                    div.col-xl-6
                                        .dropdown-item.book-type FICTION BOOK
                                        a.dropdown-item(href='/bookType?type=Crime-and-Mystery') Crime and Mystery
                                        a.dropdown-item(href='/bookType?type=Fantasy') Fantasy
                                        a.dropdown-item(href='/bookType?type=Modern-Fiction') Modern Fiction
                                        a.dropdown-item(href='/bookType?type=Romace') Romace
                                        a.dropdown-item(href='/bookType?type=Adventure') Adventure
                                    div.col-xl-6
                                        .dropdown-item.book-type(href='#') NON-FICTION BOOK
                                        a.dropdown-item(href='#') Biography and True Story
                                        a.dropdown-item(href='#') English Language Teaching
                                        a.dropdown-item(href='#') Personal Development
                                        a.dropdown-item(href='#') Lifestyle, Cooking, Health
                                        a.dropdown-item(href='#') Reference Books
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | E-BOOK
                            .dropdown-menu.book(aria-labelledby='navbarDropdownMenuLink')
                                div.row.navbar-custom
                                    div.col-xl-6
                                        .dropdown-item.book-type(href='#') FICTION BOOK
                                        a.dropdown-item(href='#') Crime and Mystery
                                        a.dropdown-item(href='#') Fantasy
                                        a.dropdown-item(href='#') Model Fiction
                                        a.dropdown-item(href='#') Romace
                                        a.dropdown-item(href='#') Adventure
                                    div.col-xl-6
                                        .dropdown-item.book-type(href='#') NON-FICTION BOOK
                                        a.dropdown-item(href='#') Biography and True Story
                                        a.dropdown-item(href='#') English Language Teaching
                                        a.dropdown-item(href='#') Personal Development
                                        a.dropdown-item(href='#') Lifestyle, Cooking, Health
                                        a.dropdown-item(href='#') Reference Books
                        li.nav-item
                            a.nav-link(href='#') BLOCK
                        li.nav-item
                            a.nav-link(href='#') CONTACT
                    form.form-inline.my-2.my-lg-0.search-bar
                        .input-icons
                            i(class="fas fa-search icon")
                            input(class="input-field form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")
                    if user
                        ul.navbar-nav.profile-user
                            if user.image !== null
                                li.nav-item.profile-avatar
                                    a(href="#")
                                        img(src=user.image alt="Avatar" class="avatar-nav")
                                li.nav-item.dropdown
                                    a(class="contact" href="#")= user.username
                                    div(class="dropdown-content")
                                        a(class="dropdown-item" href="/profilePage") Profile
                                        a(class="dropdown-item" href="/logOut") Log Out
                            else
                                i.px-2(class="fas fa-user-circle fa-3x")
                    else
                        i.px-2(class="fas fa-user-circle fa-3x")
                        a.px-2(class="logIn" href="/LogIn") LOG IN 
                        button.px-2(type="button" class="btn btn-dark") 
                            a.logIn(href="/signUp") SIGN UP
    .container-fluid
        .breadcrumb-custom 
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') Home
                    li.breadcrumb-item
                        a(href='#') Library
                    li.breadcrumb-item.active(aria-current='page')
                        a(href='#') Library
   
    .card
        .container-fliud
            .wrapper.row
                .preview.col-md-6
                    .preview-pic.tab-content
                        #pic-1.tab-pane.active
                            img(src=book.bookImage[0])
                        #pic-2.tab-pane
                            img(src=book.bookImage[1])
                        #pic-3.tab-pane
                            img(src=book.bookImage[2])
                    ul.preview-thumbnail.nav.nav-tabs
                        li.active
                            a(data-target='#pic-1' data-toggle='tab')
                                img(src=book.bookImage[0])
                        li
                            a(data-target='#pic-2' data-toggle='tab')
                                img(src=book.bookImage[1])
                        li
                            a(data-target='#pic-3' data-toggle='tab')
                                img(src=book.bookImage[2])
                .details.col-md-6
                    h3.product-title=book.bookname
                    .rating
                        .stars
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star
                            span.fa.fa-star
                        span.review-no 41 reviews
                    p.product-description
                        | Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.
                    h4.price
                        | current price: 
                        span.Old-price='$' + book.price
                        span  
                        span      
                            i(class="fas fa-arrow-right")
                        span     
                        span='$' + book.sellPrice
                    p.vote
                        strong 91%
                        |  of buyers enjoyed this product! 
                        strong (87 votes)
                    .form-group.row
                        label.col-3(for='exampleFormControlSelect1') Qty
                        select.col-9#exampleFormControlSelect1.form-control(name="Qty")
                            option(value=1) 1
                            option(value=2) 2
                            option(value=3) 3
                            option(value=4) 4
                            option(value=5) 5
                            option(value=6) 6
                            option(value=7) 7
                            option(value=8) 8
                    .row.button-group-custom
                        button(type="button" class="col-4 btn addBtn") Add to Cart 
                            i(class="fas fa-shopping-cart")
                        .col-1
                        button(type="button" class="col-2 btn")
                            i(class="fas fa-heart")
                        .col-5
                    p.vote DETAILS: 
                    table.table
                        thead.thead-custom
                            tr
                                th(scope='col') BOOK DETAILS
                                th(scope='col') AUTHOR DETAILS
                        tbody
                            tr
                                th(scope='row')=book.bookname
                                td=book.author
                            tr
                                th(scope='row')='Publisher: ' + book.publisher
                                td='Date of Birth: ' + book.authorBirthDay
                            tr
                                th(scope='row')=book.language
                                td=book.country
    .footer
        .container-fluid.row 
            .col-6
                h4 About Company
                .title-line 
                p Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vestibulum dui sagittis mlste sagittis elts.
                ul.address-info 
                    li
                        i(class="fas fa-map-marker-alt")   15 Barnes Wallis Way, 358744, USA
                    li 
                        i(class="fas fa-phone")    +1 (012) 345 6789 
                    li
                        i(class="fas fa-envelope")   info@yourdomain.com
            .col-6 
                h4 Twitter Feed!
                .title-line 
                ul.customer-sp
                    li 
                        i(class="fas fa-angle-right")
                            a(href="#") Customer Support
                    li 
                        i(class="fas fa-angle-right")
                            a(href="#") Documentation
                    li 
                        i(class="fas fa-angle-right")
                            a(href="#") Developer Center
                    li 
                        i(class="fas fa-angle-right")
                            a(href="/FAQs") General FAQs
        .container-fluid.Copyright.row
            .col-6.copyRight-title
                h5 Copyright © 2021 Phuoc Tran. All rights reserved.
            .col-6
                ul.social-list 
                    li.social-app
                        i(class="fab fa-facebook-square fa-3x")
                    li.social-app
                        i(class="fab fa-youtube fa-3x")
                    li.social-app
                        i(class="fab fa-twitter-square fa-3x")
